@media (max-width: 991.98px) {
    .hero-title {
        font-size: 56px;
    }
}
@media (max-width: 767.98px) {
    .hero-title {
        font-size: 40px;
    }
}

.contacts {
    background-color: #07001f;
    overflow-x: hidden;
    padding-block: 60px;
}

@media (max-width: 991.98px) {
    .contacts {
        padding-block: 40px;
    }
}

.contacts-container {
    display: flex;
    align-items: baseline;
}

.contacts-left-side,
.contacts-right-side {
    flex: 1 1 50%;
}

@media (max-width: 991.98px) {
    .contacts-container {
        flex-direction: column;
        gap: 30px;
    }

    .contacts-left-side,
    .contacts-right-side {
        width: 100%;
    }
}

.contacts-form {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}

.contacts-left-side {
    /* width: 570px; */
    /* padding: 0 20px; */
}

/* .form-wrapper {
   
    display: flex;
    align-items: center;
    margin-bottom: 44px;
} */
.form-wrapper {
    display: flex;
    gap: 20px;
}

@media (max-width: 991.98px) {
    .form-wrapper {
        flex-direction: column;
        gap: 15px;
    }
}



.form-wrapper .form-group:not(:last-child) {
    margin-right: 30px;
}

.form-wrapper .form-group {
    position: relative;
    padding-top: 20px;
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF99;
    transform: translateY(20px);
    transition: 400ms ease;
}

.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    color: #fff;
    transform: translateY(0);
}

.form-input {
    width: 250px;
    padding: 5px;
    outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: #fff;
    transition: border-color 400ms ease;
}

.form-input::placeholder {
    opacity: 0;
}

.form-input:focus::placeholder {
    opacity: 1;
    transition: opacity 400ms ease;
}

.form-input:focus {
    border-bottom: 1px solid #fff;
}

.form-message {
    width: 100%;
    outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    resize: none;
    color: #fff;
    transition: border-color 400ms ease;
}

.form-message::placeholder {
    opacity: 0;
}

.form-message:focus::placeholder {
    opacity: 1;
    transition: opacity 400ms ease;
}

.form-message:focus {
    border-bottom: 1px solid #fff;
}

.form-message-group {
    position: relative;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 44px;
}

.form-message:focus+.form-label,
.form-message:not(:placeholder-shown)+.form-label {
    color: #fff;
    transform: translateY(0);
}



/* соціальні мережі */
/* .contacts-right-side { */
/* width: 570px; */
/* } */
/* .address-wrapper {
    display: flex;
        align-items: baseline; */
/* padding: 0 150px; */
/* margin-bottom: 44px; */
/* } */
.address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-title {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF99;
    display: block;
    margin-bottom: 20px;
}

.address {
    font-family: 'Amatic SC', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.17;
    color: #FFFFFF99;
}

.address-link {
    color: inherit;
}

.address a:hover {
    text-decoration: underline;
}

.contacts-right-list {
    padding: 5px 0;
}

.ellipse-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 0 100px;
    flex-shrink: 0;
}

.ellipse-title {
    font-family: "Amatic SC";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff99;
    margin: 0;
}

/* .ellipse-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
} */
.ellipse-list {
    display: flex;
    gap: 15px;
}

.ellipse-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #757575;
    border-radius: 50%;
}

.ellipse-link:hover {
    background-color: #B05826;
}

.ellipse-icons {
    fill: #333;
}
/* ===================================== */
/* ЦІНИ 2 */
/* ===================================== */
.prices-bg {
    min-height: 100vh;
    padding: 80px 20px;
    background: #c0bebef9;
    color: #333;
}

.prices-content {

    display: flex;
    gap: 40px;
}

.prices-strong {
    color: #333;
}

.prices-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Один рядок */
.prices-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Назва */
.prices-item dt {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
}

/* Лінія між текстом і ціною */
.prices-item dt::after {
    content: "";
    height: 1px;
    background: linear-gradient(to right,
            rgba(51, 51, 51, 0.2),
            rgba(51, 51, 51, 0.8));

    flex: 1;
    margin-left: 15px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.prices-item:hover dt::after {
    transform: scaleX(1);
}

.prices-item:hover dt::after {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

/* Ціна */
.prices-item dd {
    margin: 0;
    white-space: nowrap;
}

@media (max-width: 768px) {

    /* Кожен рядок → колонка */
    .prices-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    /* Забираємо лінію */
    .prices-item dt::after {
        display: none;
    }

    /* Ціна під назвою */
    .prices-item dd {
        font-size: 16px;
        opacity: 0.8;
    }
}

@media (max-width: 768px) {
    .prices-list {
        gap: 25px;
    }

    .prices-item dt {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .prices-bg {
        padding: 50px 0;
    }

    .prices-title {
        font-size: 28px;
    }
}


/* ==========кольори=========== */
rgba(15, 23, 42, ...)
 rgba(41, 24, 37, ...)
 #d7a574
 rgba(255, 255, 255, 0.82)