* {
    box-sizing: border-box;
}
 :root {
    --main-font: Roboto, sans-serif;
        --secondary-font: Raleway, sans-serif;
/*text color*/
    --accent-cl: #555555;
    --main-txt-cl: #1E1E1E;
    --secondary-txt-cl: ;
        /*bacground colors*/
            --accent-cl: #FF6C00;
            --main-bg-cl: #F5F4FA;
            --secondary-bg-cl: #191c26;
} 
html {
    scroll-behavior: smooth;
}
body {
    font-family: Montserrat, Roboto, sans-serif;
}


p,
h1,
h2,
h3, 
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* section,
img,
div {
    outline: 1px solid red;
} */

/* ХЕДЕР */ 
.header {
margin: 0;
    padding: 0;
    min-height: 100vh;
     background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.6)), url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .header-container {
    height: 100svh;
    padding-top: 30px;
display: flex;
    flex-direction: column;
    gap: 40px;
} 

 .logo {
        font-family: Alex Brush, cursive;
            font-size: 50px;
            font-weight: 700;
            color: #c0bebef9;
} 
.nav {
    flex: 1;
} 
.nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-item {
    position: relative;
    padding-bottom: 6px;
}
.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 2px;
    background: rgba(147, 141, 183, 0.4);
    opacity: 0.6;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}
.nav-item a {
 font-family: Amatic SC;   
    font-size: 30px;
font-weight: 400;
color: #f8f7f7f9;
transition: 0.3s;
}
.nav-list a:hover,
.nav-list a:focus {
    color: #B05826;
}
.btn {
     font-family: Amatic SC;
        font-size: 30px;
        padding: 12px 20px;
            max-width: 200px;
            min-width: 160px;
            min-height: 40px;
            margin-bottom: 30px;
}
.btn-mode-light {
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: #ffffffcc;
    border: 1px solid #ddd;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-mode-light:hover {
    background: #ffffffee;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}
/* active */
.btn-mode-light:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* СЕКЦІЯ ГЕРОЙ*/
.hero {
    padding: 80px 20px;
    background: linear-gradient(135deg,
                #0f0f2d,
                #1b1b4d,
                #2d1f4d);
        color: white;
/* width: 100%;
    min-height: 100vh;     */
}
.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-family: Alex Brush, cursive;
    font-size: 50px;
    font-weight: 700;
    color: #c0bebef9;
}
.about-list {
    display: flex;
    gap: 20px;
}
/* .about-item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    color: #f8f7f7f9;
    padding: 50px;
    font-family: Amatic SC;
    font-size: 20px;
        background: rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(10px);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            transition: 0.4s ease;
}  */
/* Картки */
.about-item {
    padding: 30px;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    line-height: 1.5;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}

.about-item:hover {
    transform: translateY(-8px);
    background: rgba(255, 255, 255, 0.15);
}




/* СЕКЦІЯ ПОСЛУГИ */

/* ===================== */

 .services {
    padding: 80px 20px;
background-color: #1a0f4a;
    
     color: #f5f5f5;
    font-family: "Inter", sans-serif;
} 
.services-container {
    max-width: 1200px;
    margin: 0 auto;
}
.services-title {
    font-family: "Amatic SC";
    font-size: 40px;
    font-weight: 400;
    color: #f5f5f5;
     text-align: start;
    margin-bottom: 50px;
 padding-left: 30px;
} 
 .column-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.services-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: contents;
    /* щоб grid працював через ul > li */
 }
.services-item {
    background-color: rgba(255, 255, 255, 0.05);
     border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow:
        0px 8px 16px rgba(255, 105, 180, 0.25),
        0px 16px 32px rgba(186, 85, 211, 0.2),
        0px 24px 48px rgba(138, 43, 226, 0.15);
} 
 .services-item:hover {
    transform: translateY(-8px);
    box-shadow:
        0px 12px 24px rgba(255, 105, 180, 0.35),
        0px 24px 48px rgba(186, 85, 211, 0.25),
        0px 36px 72px rgba(138, 43, 226, 0.2);
}
.services-img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
    object-fit: cover;
    height: 180px;
}
.services-text {
    font-size: 16px;
    line-height: 1.6;
    color: #f5f5f5;
}
.service-name {
    font-weight: 700;
    color: #FFFFFF99;
 }      


/* ЦІНИ */

.prices-container {
position: relative;
width: 100%;
   background-image: linear-gradient(to top,
        rgba(15, 2, 54, 0.96),
            rgba(176, 88, 38, 0.28)), url(https://media.istockphoto.com/id/518564667/uk/%D1%84%D0%BE%D1%82%D0%BE/%D1%80%D1%83%D0%BA%D0%B0-%D0%B7-%D0%B3%D1%80%D0%B5%D0%B1%D1%96%D0%BD%D1%86%D0%B5%D0%BC-%D1%89%D0%BE-%D1%81%D1%82%D1%80%D0%B8%D0%B6%D0%B5-%D0%B2%D0%BE%D0%BB%D0%BE%D1%81%D1%81%D1%8F-%D0%B6%D1%96%D0%BD%D0%BA%D0%B8.jpg?s=612x612&w=0&k=20&c=IckOWx_fML2jb8uCIzTcqoLgJMJcJLIVnhUHLEKb924=);
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.prices-strong {
    display: inline-block;
    color: #ffffffcc;
    margin-top: 50px;
 margin-left: 30px;
 margin-bottom: 30px;
font-family: Amatic SC;
    font-size: 20px;
}
.content-prices {
    display: flex;
    gap: 30px;
}
/* Мобільна версія */
@media (max-width: 768px) {
    .content-prices {
        flex-direction: column;
    }
}

.prices-column {
    flex: 1;
    margin-bottom: 70px;
}
.prices-list-left {
     background-color: rgba(15, 2, 54, 0.85);  
   padding: 40px; 
   margin-bottom: 50px;
   border-radius: 8px;
}
.prices-list-right {
     background-color: rgba(15, 2, 54, 0.85); 
        padding: 40px;
        margin-bottom: 50px;
        border-radius: 8px;
}
.prices-text {
    display: flex;
    align-items: center;
    font-family: Amatic SC;
        font-size: 20px;
     margin: 20px 0; 
    color: #ffffffcc;
}
.prices-left-span {
    display: flex;
   
         align-items: center; 
        flex: 1;
                position: relative;
}
.prices-left-span::after {
     content: "";
        flex: 1;
        border-bottom: 1px dotted #ffffffcc;
            margin: 0 20px;
}
.prices-span {
    white-space: nowrap;
}

/* КОНТАКТНА ФОРМА  */

.contacts {
background-color: #07001f;
}
.contacts-container {
    display: flex;
    align-items: baseline;
}
.contacts-form {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}
.contacts-left-side {
    width: 570px;
    padding: 0 20px;
}
.form-wrapper {
   
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.form-wrapper .form-group:not(:last-child) {
    margin-right: 30px;
}

.form-wrapper .form-group {
    position: relative;
    padding-top: 20px;
}
.form-label {
      position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF99;
      transform: translateY(20px);
   transition: 400ms ease;
}
.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    color: #fff;
    transform: translateY(0);
}
.form-input {
width: 250px;
padding: 5px;
outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
color: #fff;
transition: border-color 400ms ease;
}
.form-input::placeholder {
    opacity: 0;
}
.form-input:focus::placeholder {
    opacity: 1;
    transition: opacity 400ms ease;
}
.form-input:focus {
   border-bottom: 1px solid #fff;
}
.form-message {
    width: 100%;
    outline: transparent;
        background-color: transparent;
        border: none;
            border-bottom: 1px solid rgba(157, 164, 189, 0.4);
            resize: none;
            color: #fff;
            transition: border-color 400ms ease;
}

.form-message::placeholder {
    opacity: 0;
}
.form-message:focus::placeholder {
    opacity: 1;
   transition: opacity 400ms ease;
}
.form-message:focus {
    border-bottom: 1px solid #fff;
}
.form-message-group {
    position: relative;
   padding-top: 20px;
    width: 100%;
    margin-bottom: 44px;
}
.form-message:focus+.form-label,
.form-message:not(:placeholder-shown)+.form-label {
      color: #fff;
    transform: translateY(0);
}



/* FOOTER */
.contacts-right-side {
    width: 570px;
}
.address-wrapper {
    display: flex;
        align-items: baseline;
        padding: 0 150px;
        /* margin-bottom: 44px; */
}
 .footer-title {
     font-family: Amatic SC cursive;
     font-size: 30px;
     font-weight: 400;
     line-height: 1.2;
     color: #FFFFFF99;
     display: block;
     margin-bottom: 20px;
 }
.address {
font-family: 'Amatic SC', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.17;
    color: #FFFFFF99;
}
.address-link {
    color: inherit;
}
.address a:hover {
text-decoration: underline;
}
 .contacts-right-list {
padding: 5px 0;
}  
.ellipse-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 0 100px; 
    flex-shrink: 0;
}
.ellipse-title {
    font-family: "Amatic SC";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: #ffffff99;
    margin: 0;
}
.ellipse-list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.ellipse-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #757575;
    border-radius: 50%;
}
.ellipse-link:hover {
    background-color: #B05826;
}

.ellipse-icons {
    fill: #333;
}
/* .ellipse-title {
     font-family: Amatic SC;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF99;
    margin-bottom: 20px;
    margin-left: 150px; 
} 


.ellipse-list {
    display: flex;
    margin-left: 200px; 
}
.ellipse-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #757575;
    border-radius: 50%;
}   
.ellipse-item {
    margin-right: 10px;

}

.ellipse-item:last-child {
    margin-right: 0;
} */
/* .ellipse-icons {
    fill: #333;
}
 .ellipse-link:hover .socials-icons,
.ellipse-link:focus .socials-icons {
    fill: #ffffffcc;
} 
.ellipse-link:hover,
.ellipse-link:focus {
    background: #FFFFFF99;
} */