* {
    box-sizing: border-box;
}
 :root {
    --main-font: Roboto, sans-serif;
        --secondary-font: Raleway, sans-serif;
/*text color*/
    --accent-cl: #555555;
    --main-txt-cl: #1E1E1E;
    --secondary-txt-cl: ;
        /*bacground colors*/
            --accent-cl: #FF6C00;
            --main-bg-cl: #F5F4FA;
            --secondary-bg-cl: #191c26;
} 
body {
    font-family: Montserrat, Roboto, sans-serif;
}


p,
h1,
h2,
h3, 
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* section,
img,
div {
    outline: 1px solid red;
} */

/* ХЕДЕР */ 
.header {
margin: 0;
    padding: 0;
    min-height: 100vh;
     background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
 .header-container {
    height: 100svh;
    padding-top: 30px;
display: flex;
    flex-direction: column;
    gap: 40px;
} 

 .logo {
        font-family: Alex Brush, cursive;
            font-size: 50px;
            font-weight: 700;
            color: #c0bebef9;
} 
.nav {
    flex: 1;
    /* займає всю доступну висоту контейнера */
} 
.nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-item {
    position: relative;
    padding-bottom: 6px;
}
.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 2px;
    background: rgba(147, 141, 183, 0.4);
    opacity: 0.6;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}
.nav-item a {
 font-family: Amatic SC;   
    font-size: 30px;
font-weight: 400;
color: #f8f7f7f9;
transition: 0.3s;
}
.nav-list a:hover,
.nav-list a:focus {
    color: coral;
}
.btn {
     font-family: Amatic SC;
        font-size: 30px;
        padding: 12px 20px;
            max-width: 200px;
            min-width: 160px;
            min-height: 40px;
            margin-bottom: 30px;
}
.btn-mode-light {
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    background: #ffffffcc;
    /* напівпрозорий білий */
    border: 1px solid #ddd;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    /* модний "скляний" ефект */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-mode-light:hover {
    background: #ffffffee;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

/* active */
.btn-mode-light:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* СЕКЦІЯ ГЕРОЙ*/
.hero-container {
    background-color: rgb(2, 2, 69);
width: 100%;
    min-height: 100vh;
}
.hero-title {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-family: Alex Brush, cursive;
    font-size: 50px;
    font-weight: 700;
    color: #c0bebef9;
}
.about-list {
    display: flex;
    gap: 20px;
}
.about-item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    color: #f8f7f7f9;
    padding: 50px;
    font-family: Amatic SC;
    font-size: 20px;
    box-shadow: 1px 2px 4px rgba(147, 141, 183, 0.4), 0px 1px 1px rgba(147, 141, 183, 0.4),
            0px 2px 1px rgba(255, 255, 255, 0.6);
} 
/* СЕКЦІЯ ПОСЛУГИ */
.services-container {
    background-color: rgb(2, 2, 69);
    width: 100%;
    min-height: 100vh;
}
.services-title {
    position: relative;
    padding-left: 60px;
   margin-bottom: 70px;
font-family: Amatic SC;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    color: #f8f7f7f9;
}
.services-title::before {
    content: '';
        position: absolute;
        left: 0;
            top: 50%;
            width: 40px;
            height: 2px;
         background: #f8f7f7f9;
        border-radius: 4px; 
       
}

.services-list {
     /* display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
        gap: 10px;
       padding-left: 10px; */
       display: flex;
       padding-bottom: 50px;
}
.services-item {
    margin-right: 30px;
    background-color: #ffffffcc;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
.services-item :last-child {
    margin-right: 0;
}
.services-img {
    margin: 0 auto;
    padding-top: 20px;
    width: 100%;
    max-width: 250px;
    height: 400px;
    object-fit: cover;
     filter: brightness(0.95) contrast(1.05); 
    border-radius: 8px;
        transition: 0.4s ease;
}
.services-img:hover {
    transform: scale(1.05);
        filter: brightness(1.05);
}
.services-text {
    padding: 40px;
    font-family: Amatic SC;
        font-size: 16px;
            line-height: 1.17;
color: #333;
}
.service-name {
    color: #333;
    font-family: Amatic SC;
        font-size: 20px;
}
/* КОНТАКТНА ФОРМА */

.contacts {
background-color: #0f0236;
}
.contacts-form {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
}
.contacts-left-side {
    width: 570px;
}
.form-wrapper {
   
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.form-wrapper .form-group:not(:last-child) {
    margin-right: 30px;
}

.form-wrapper .form-group {
    position: relative;
    padding-top: 20px;
}
.form-label {
      position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF99;
      transform: translateY(20px);
   transition: 400ms ease;
}
.form-input:focus+.form-label,
.form-input:not(:placeholder-shown)+.form-label {
    color: #fff;
    transform: translateY(0);
}
.form-input {
width: 270px;
padding: 5px;
outline: transparent;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
color: #fff;
transition: border-color 400ms ease;
}
.form-input::placeholder {
    opacity: 0;
}
.form-input:focus::placeholder {
    opacity: 1;
    transition: opacity 400ms ease;
}
.form-input:focus {
   border-bottom: 1px solid #fff;
}
.form-message {
    width: 100%;
    outline: transparent;
        background-color: transparent;
        border: none;
            border-bottom: 1px solid rgba(157, 164, 189, 0.4);
            resize: none;
            color: #fff;
            transition: border-color 400ms ease;
}

.form-message::placeholder {
    opacity: 0;
}
.form-message:focus::placeholder {
    opacity: 1;
   transition: opacity 400ms ease;
}
.form-message:focus {
    border-bottom: 1px solid #fff;
}
.form-message-group {
    position: relative;
   padding-top: 20px;
    width: 100%;
    margin-bottom: 44px;
}
.form-message:focus+.form-label,
.form-message:not(:placeholder-shown)+.form-label {
      color: #fff;
    transform: translateY(0);
}

/* FOOTER */
.footer-socials {
background-color: rgb(2, 2, 69);
padding: 20px;
}
.footer-container {
display: flex;
    align-items: baseline;
    height: 250px;
}
  .footer-title {
    font-family: Amatic SC cursive;
        font-size: 30px;
        font-weight: 400;
        line-height: 1.2;
        color: #FFFFFF99;
        display: block;
       margin-bottom: 20px;
  }
.address {
        font-style: normal;
}
.footer-list {
    margin-bottom: 12px;
    /* вертикальні відступи */
    font-family: 'Amatic SC';
    font-size: 16px;
    line-height: 1.17;
}
.footer-list a {
    color: #FFFFFF99;
    display: inline-block;
}
.footer-list a:hover {
    text-decoration: underline;
}
.ellipse-title {
font-family: Amatic SC;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2; 
 color: #FFFFFF99;
    margin-bottom: 20px;
     margin-left: 200px; 
 
}
.ellipse-list {
    display: flex;
    margin-left: 200px;
}
.ellipse-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #757575;
    border-radius: 50%;
}
.ellipse-item {
    margin-right: 10px;

}

.ellipse-item:last-child {
    margin-right: 0;
}
.ellipse-icons {
    fill: #333;
}
 .ellipse-link:hover .socials-icons,
.ellipse-link:focus .socials-icons {
    fill: #ffffffcc;
} 
.ellipse-link:hover,
.ellipse-link:focus {
    background: #FFFFFF99;
}