* {
    box-sizing: border-box;
}
:root {
    --main-font: Roboto, sans-serif;
        --secondary-font: Raleway, sans-serif;
/*text color*/
    --accent-cl: #555555;
    --main-txt-cl: #1E1E1E;
    --secondary-txt-cl: ;
        /*bacground colors*/
            --accent-cl: #FF6C00;
            --main-bg-cl: #F5F4FA;
            --secondary-bg-cl: #191c26;
}
body {
    font-family: Montserrat, Roboto, sans-serif;
    margin: 0;
        /* padding: 0;
        min-height: 100vh;
        background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg");
        background-size: cover;
       
        background-position: center;
        
        background-repeat: no-repeat;
        background-attachment: fixed; */
       
        
}


p,
h1,
h2,
h3, 
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ХЕДЕР */ 
 .header-container {
background-image: url("https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg");
 }
    .


 
/* .header-container {
    position: relative;
    height: 100svh;
    padding-top: 20px;
display: flex;
     justify-content: space-between;; 
    gap: 40px;
} */

.logo {
        font-family: Alex Brush, cursive;
            font-size: 50px;
            font-weight: 700;
            color: #c0bebef9;
}
.nav {
    flex: 1;
    /* займає всю доступну висоту контейнера */
} 
.nav-list {
    display: flex;
    gap: 30px;
}

.nav-item a {
 font-family: Amatic SC;   
    font-size: 20px;
font-weight: 400;
color: #f8f7f7f9;
transition: 0.3s;
}
.nav-list a:hover,
.nav-list a:focus {
    color: coral;
}
.btn {
    font-family: Amatic SC;
        font-size: 20px;
        font-weight: 400;
        color: #fddfdff9;
}

/* СЕКЦІЯ ГЕРОЙ*/

.about-list {
    display: flex;
    gap: 20px;
}
.about-item {
    flex: 1; 
    display: flex;
    flex-direction: column;
    color: #f8f7f7f9;
    padding: 50px;
    font-family: Amatic SC, cursive;
    font-size: 20px;
} 
/* СЕКЦІЯ ПОСЛУГИ */

.services {
    padding: 80px 20px;
    background-color: #f7f7f7;
}

.services-list {
    display: flex;
    gap: 20px;
}

