* {
    box-sizing: border-box;
}
:root {

}



body {
    font-family: Montserrat, Roboto;
    font-size: 14px;
    font-weight: 400;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}