* {
    box-sizing: border-box;
}
:root {

}
body {
    font-family: Montserrat, Roboto, sans-serif;
  
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}
p,
h1,
h2,
h3, 
h4,
h5,
h6 {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ХЕДЕР */ 
.header-container {
    height: 500px;
    display: flex;
    flex-direction: column;
}
.logo {
        font-family: Alex Brush, cursive;
            font-size: 50px;
            font-weight: 700;
            color: #c0bebef9;
            margin-bottom: 50px;
}
.nav {
    flex: 1;
    /* займає всю доступну висоту контейнера */
} 

.nav-item a {
 font-family: Amatic SC;   
    font-size: 30px;
font-weight: 500;
color: #f8f7f7f9;
display: flex;
flex-direction: column;
justify-content: space-between;
margin-bottom: 10px;
}
.btn {
    font-family: Amatic SC;
        font-size: 30px;
        font-weight: 500;
        color: #fddfdff9;
}